LOTAGATE_API_BASE_URL=your-api-base-url-here
LOTAGATE_TRUSTED_ORIGIN=your-trusted-origin-here
LOTAGATE_REMOTE_SERVER_URL=your-remote-server-url-here
LOTAGATE_REMOTE_SERVER_GLOBAL_PREFIX=api/v1
LOTAGATE_REMOTE_SERVER_ENROLLMENT_TOKEN=your-enrollment-token-here
